.button {
  display: inline-flex;
  width: 300px;
  background-color: $gs025;
  color: $gs000;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border: none;

  &--hidden {
    display: none;
  }

  &--null {
    background-color: transparent;
    color: $gs025;
    width: auto;
    border: none;
    padding: 0;
    text-decoration: underline;
  }

  &--flex {
    display: flex;
  }

  &--flex+&--flex {
    margin-top: 20px;
  }

  &--centered {
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}