.input-block {
  border: 3px solid $gs025;
  display: inline-block;
  height: 30px;
  border-radius: 5px;

  &__input {
    width: 100%;
    height: 100%;
    border: none;
    padding-left: 10px;
    background-color: transparent;
    font-size: 20px;

    &:focus {
      border: none;
      outline: none;
    }
  }
}